EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyB4lePGp1KI_3jNqKxwNKixTG2HLlNSijc"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="streamwatch-f1d98.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="streamwatch-f1d98"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="streamwatch-f1d98.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="359691818869"
EXPO_PUBLIC_FIREBASE_APP_ID="1:359691818869:web:f23825dff09d7512aba53c"