node_modules/
.expo/
dist/
web-build/
.env
.env.local
.env*.local
*.orig.*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
ios/
android/
firebase-debug.log
functions/lib/
functions/node_modules/
